/*se utiliza mobile first, tomando como base iphone se*/
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*extend*/
/*
%estilosSention {
    padding: 1rem;
}

section-uno {
    @extend %estilosSention;
    margin: 3rem;
}

section-dos {
    @extend %estilosSention;
    margin: 5rem;
}
*/
.titulo-3, .parrafo-principal, .parrafo-secundario {
  margin: 0.5rem; }

/*estilos generales*/
body {
  font-family: 'Roboto', sans-serif;
  background: #e0c5b5;
  background: linear-gradient(90deg, #e0c5b5 10%, #ead8ce 35%, #f5ece7 50%); }

/*estilo de las tipografias*/
.titulo-1 {
  font-size: 2.2rem;
  color: #2b425f;
  text-align: auto;
  text-shadow: 0.7px 0.5px 0.5px #2b425f;
  font-weight: bold; }

.titulo-2 {
  font-size: 1.8rem;
  color: #29547b;
  text-align: center;
  text-shadow: 0.7px 0.5px 0.5px #29547b; }

.titulo-3 {
  font-size: 1.6rem;
  color: #001f3b;
  text-align: center;
  text-shadow: 0.7px 0.5px 0.5px #001f3b; }

.parrafo-principal {
  font-size: 1.2rem;
  color: #182941;
  text-align: center; }

.parrafo-secundario {
  font-size: 1.1rem;
  color: #182941;
  text-align: center; }

/*estilos de header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  header nav div .navbar-collapse .navbar-nav {
    font-family: 'Roboto', sans-serif;
    padding: 0.1rem;
    text-align: center;
    gap: 0.5rem; }
    header nav div .navbar-collapse .navbar-nav .nav-item .active {
      font-weight: bold;
      text-decoration: underline; }

/*estilos de footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  footer .derechos .texto-derechos {
    font-size: 0.9rem;
    color: #182941;
    text-align: center; }
  footer .redes a img {
    width: 1rem; }

.principal {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .principal iframe {
    width: 95%;
    height: 95%;
    margin: 1rem; }

/*se trabaja con la mq 1024 para pc*/
@media screen and (min-width: 1024px) {
  /*estilo del contenedor principal*/
  .contenedor {
    display: grid;
    height: 100vh; }
    .contenedor .principal {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
      grid-template-areas: "p-h2-1 iframe" "p-uno iframe" "p-h2-2 p-h2-2" "p-dos p-dos"; }
      .contenedor .principal .p-h2-1 {
        grid-area: p-h2-1; }
      .contenedor .principal .p-h2-2 {
        grid-area: p-h2-2; }
      .contenedor .principal .p-uno {
        grid-area: p-uno; }
      .contenedor .principal .p-dos {
        grid-area: p-dos; }
      .contenedor .principal iframe {
        grid-area: iframe; } }

/*Boton de whatsapp en todas las paginas*/
.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  animation-name: img-movimiento;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate-reverse; }

/*Animaciones*/
/*Animacion de efecto constante boton whatsapp*/
@keyframes img-movimiento {
  to {
    transform: scale(1); }
  from {
    transform: scale(1.2); } }
