/*se utiliza mobile first, tomando como base iphone se*/
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos generales del body*/
body {
  font-family: 'Roboto', sans-serif;
  background: #e0c5b5;
  background: linear-gradient(90deg, #e0c5b5 10%, #ead8ce 35%, #f5ece7 50%); }

/*extend*/
/*
%estilosSention {
    padding: 1rem;
}

section-uno {
    @extend %estilosSention;
    margin: 3rem;
}

section-dos {
    @extend %estilosSention;
    margin: 5rem;
}
*/
.titulo-3, .parrafo-principal, .parrafo-secundario {
  margin: 0.5rem; }

/*estilo de las tipografias*/
.titulo-1 {
  font-size: 2.2rem;
  color: #2b425f;
  text-align: auto;
  text-shadow: 0.7px 0.5px 0.5px #2b425f;
  font-weight: bold; }

.titulo-2 {
  font-size: 1.8rem;
  color: #29547b;
  text-align: center;
  text-shadow: 0.7px 0.5px 0.5px #29547b; }

.titulo-3 {
  font-size: 1.6rem;
  color: #001f3b;
  text-align: center;
  text-shadow: 0.7px 0.5px 0.5px #001f3b; }

.parrafo-principal {
  font-size: 1.2rem;
  color: #182941;
  text-align: center; }

.parrafo-secundario {
  font-size: 1.1rem;
  color: #182941;
  text-align: center; }

/*estilos de header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  header nav div .navbar-collapse .navbar-nav {
    font-family: 'Roboto', sans-serif;
    padding: 0.1rem;
    text-align: center;
    gap: 0.5rem; }
    header nav div .navbar-collapse .navbar-nav .nav-item .active {
      font-weight: bold;
      text-decoration: underline; }

/*para efecto cuando hacen click menu*/
.nav-item:hover {
  text-shadow: 0.7px 0.5px 1px black;
  transform: scale(1.1); }

/*estilos de footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  footer .derechos .texto-derechos {
    font-size: 0.9rem;
    color: #182941;
    text-align: center; }
  footer .redes a img {
    width: 1rem; }

.principal {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .principal iframe {
    width: 95%;
    height: 95%;
    margin: 1rem; }

/*estilos de quienes somos*/
.quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .quienes-somos .titulo-2 span {
    display: block;
    font-size: 2rem;
    font-weight: bold; }
  .quienes-somos .p-uno {
    text-align: center;
    padding: 1rem; }
  .quienes-somos .p-dos span {
    font-weight: bold; }
  .quienes-somos img {
    width: 95%;
    height: 95%;
    margin: 0.3rem;
    filter: drop-shadow(7px 5px 5px);
    width: 95%; }

.section-paginas div .quienes-imagen {
  display: none; }

/*se trabaja con la mq 1024 para pc*/
@media screen and (min-width: 1024px) {
  /*estilo del contenedor principal*/
  .contenedor {
    display: grid;
    height: 100vh;
    /*estilos de mq para index*/
    /*estilo de mq para quienes-somos*/
    /*estilos de section quienes somos*/
    /*estilos de mq para calidad*/ }
    .contenedor .principal {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
      grid-template-areas: "p-h2-1 iframe" "p-uno iframe" "p-h2-2 p-h2-2" "p-dos p-dos"; }
      .contenedor .principal .p-h2-1 {
        grid-area: p-h2-1; }
      .contenedor .principal .p-h2-2 {
        grid-area: p-h2-2; }
      .contenedor .principal .p-uno {
        grid-area: p-uno; }
      .contenedor .principal .p-dos {
        grid-area: p-dos; }
      .contenedor .principal iframe {
        grid-area: iframe; }
    .contenedor .quienes-somos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 0.5fr;
      grid-template-areas: "h2 img" "p-uno img" "p-dos img"; }
      .contenedor .quienes-somos h2 {
        grid-area: h2; }
      .contenedor .quienes-somos .p-uno {
        grid-area: p-uno; }
      .contenedor .quienes-somos .p-dos {
        grid-area: p-dos; }
      .contenedor .quienes-somos img {
        grid-area: img; }
    .contenedor .section-paginas {
      display: block;
      display: flex;
      background-color: #e0c5b5; }
      .contenedor .section-paginas div {
        padding: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .contenedor .section-paginas div .quienes-imagen {
          display: block;
          margin: 0.3rem;
          width: 4rem;
          filter: drop-shadow(2px 2px 2px);
          animation-name: img-movimiento;
          animation-iteration-count: infinite;
          animation-duration: 4s;
          animation-direction: alternate; }
        .contenedor .section-paginas div p {
          text-align: center; }
    .contenedor .calidad {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
      grid-template-areas: "titulo-2 titulo-2" "parrafo-principal parrafo-principal" "div-calidad div-calidad" "parrafo-secundario parrafo-secundario"; }
      .contenedor .calidad .titulo-2 {
        grid-area: titulo-2; }
      .contenedor .calidad .div-calidad {
        grid-area: div-calidad; }
      .contenedor .calidad .parrafo-principal {
        grid-area: parrafo-principal;
        margin: 2.5rem; }
      .contenedor .calidad .parrafo-secundario {
        grid-area: parrafo-secundario;
        margin: 2rem; } }

/*Boton de whatsapp en todas las paginas*/
.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  animation-name: img-movimiento;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate-reverse; }

/*Animaciones*/
/*Animacion de efecto constante boton whatsapp*/
@keyframes img-movimiento {
  to {
    transform: scale(1); }
  from {
    transform: scale(1.2); } }
