//hoja de estilos de scss
/*se utiliza mobile first, tomando como base iphone se*/
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importamos los archivos secundarios
//utilidades
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "utilidades/condicionales";
//paginas del sitio
@import "html/index";
@import "html/quienes-somos";
@import "html/calidad";
@import "html/productos";
@import "html/contacto";

/*estilos generales*/
body {
    font-family: 'Roboto', sans-serif;
    background: $color-fondo;
    background: $color-fondo-gradiente;
}

/*estilos de header*/
header {
    @include flex;
    justify-content: space-evenly;

    nav {
        div {
            .navbar-collapse {
                .navbar-nav {
                    font-family: 'Roboto', sans-serif;
                    padding: 0.1rem;
                    text-align: center;
                    gap: 0.5rem;

                    .nav-item {
                        .active {
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

/*estilos de footer*/
footer {
    @include flex;
    padding: 1rem;

    .derechos {
        .texto-derechos {
            text-align: center;
            font-size: 0.7rem;
        }
    }

    .redes {
        a {
            img {
                width: 1rem;
            }
        }
    }
}

/*estilo de las tipografias*/
.titulo-1 {
    @include formato-titulo(2.3rem,nth($colores-letras, 1),nth($colores-letras, 1),auto);
    font-weight: bold;
}
.titulo-2 {
    @include formato-titulo(1.5rem,nth($colores-letras, 2),nth($colores-letras, 2),center);
}
.titulo-2 {
    @include formato-titulo(1.2rem,nth($colores-letras, 3),nth($colores-letras, 3),center);
    margin: 0.5rem;
}
.parrafo-principal {
    @include formato-parrafo(0.9rem,nth($colores-letras, 4), center);
}

.parrafo-secundario {
    @include formato-parrafo(0.8rem,nth($colores-letras, 4), center);
}

/*Boton de whatsapp en todas las paginas*/
.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    animation-name: img-movimiento;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}

/*Animaciones*/
/*Animacion de efecto constante boton whatsapp*/
@keyframes img-movimiento {
    to {
        transform: scale(1);
    }

    from {
        transform: scale(1.2);
    }
}