//hoja de estilos de scss
/*se utiliza mobile first, tomando como base iphone se*/
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importamos los archivos secundarios
//utilidades
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "utilidades/condicionales";

/*estilos generales*/
body {
    font-family: 'Roboto', sans-serif;
    background: $color-fondo;
    background: $color-fondo-gradiente;
}

//importo los titulos y parrafos
@import "base/tipografia";

//partials de header y de footer
@import "layout/header";
@import "layout/footer";

//paginas del sitio
@import "html/index";
@import "html/quienes-somos";
@import "html/calidad";
@import "html/productos";
@import "html/contacto";

/*Boton de whatsapp en todas las paginas*/
.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    animation-name: img-movimiento;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}

/*Animaciones*/
/*Animacion de efecto constante boton whatsapp*/
@keyframes img-movimiento {
    to {
        transform: scale(1);
    }

    from {
        transform: scale(1.2);
    }
}