/*estilos de header*/
//nesting para trabajar estilos de etiquetas padres con sus etiquetas hijos en el header
header {
    @include flex;
    justify-content: space-evenly;

    .container {
        nav {
            div {
                .navbar-brand {
                    img {
                        width: 15.5rem;
                    }
                }

                .navbar-collapse {
                    .navbar-nav {
                        font-family: $tipogragia;
                        padding: 0.3rem;
                        gap: 0.5rem;
                        @include formato-parrafo(nth($medidas-textos, 5), nth($colores-letras, 5), center);

                        .nav-item {
                            .active {
                                font-weight: bold;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}