.main-contacto {
    text-align: center;
    .formulario {
        @extend %estilos-margenes;
        form {
            .datos-ingreso {
                .form-control {
                    font-family: $tipogragia;
                }
                .texto-mensaje {
                    color: gray;
                }
            } 
        }
    }
    .visitanos {
        iframe {
            @extend %estilos-sombra;
        }
    }
    .llamanos {
        .p-dos {
            span {
                @extend %estilos-spam;
            }
        }
    }
    .contacto-redes {
        a {
            .imagen-redes {
                width: 3rem;
            }
        }    
    }
}