.main-producto {
    .card-producto {
        @extend %estilos-margenes;
        .row {
            .col {
                .card {
                    background-color: nth($colores-fondo, 2);
                    filter: drop-shadow(1px 2px 2px);
                    @extend %estilos-margenes;
                    .imagen-producto {
                        height: 15rem;
                        border-radius: 10%;
                    }
                }
            }
        }
    }
}
