.contenedor {
    .main-producto {
        .conectores {
            .producto {
                background-color: rgb(150, 151, 175);
                width: 200px;
                height: 200px;
                margin: 10px 15px 20px 25px;
                padding: 5px;
                border: 2px solid rgb(0, 68, 95);
                display: inline-block;
            }
        }
    }
}