/*estilo de la pagina quienes somos*/
.quienes-somos {
    @include flex;

    .titulo-2 {
        span {
            @extend %estilos-spam;
            font-size: (nth($medidas-textos, 1)+0.3);
        }
    }

    .p-dos {
        span {
            font-weight: bold;
        }
    }

    .quienes-foto-nosotros {
        @extend %estilos-sombra;
    }
}

.section-paginas {
    div {
        .quienes-imagen {
            display: none;
        }
    }
}