/*estilos de quienes somos*/
.quienes-somos {
    @include flex;

    .titulo-2 {
        span {
            display: block;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .p-uno {
        text-align: center;
        padding: 1rem;
    }

    .p-dos {
        span {
            font-weight: bold;
        }
    }

    img {
        width: 95%;
        height: 95%;
        margin: 0.3rem;
        filter: drop-shadow(7px 5px 5px);
        width: 95%;
    }
}

.section-paginas {
    div {
        .quienes-imagen {
            display: none;
        }
    }
}