//extend para extender los estilos en distintas etiquetas
/*se utiliza extend para extender los estilos de margenes, sombra, span y aumentar tamaño de objetos en escala*/
%estilos-margenes {
    margin: 0.3rem;
    padding: 0.4rem;
}

%estilos-sombra {
    width: 90%;
    height: 95%;
    margin: 0.3rem;
    filter: drop-shadow(7px 5px 5px);
}

%estilos-spam {
    display: block;
    font-weight: bold;
}

//para llevar objetos o imagenes al frente
%estilo-sobre {
    transform: scale(1.1);
}